.cardWrapper {
  max-width: 250px;
  border-radius: 2px;
  box-shadow: 0 1px 8px black;
  width: 400px;
  margin-left: 60px;
  text-align: center;
  padding-bottom: 10px;
}
.cardImg {
  width: 250px;
}
.movieDetail{
  font-size: 15px;
}
.title{
  margin-top: 10px;
}
