.cardWrapper {
  width: 230px;
  border-radius: 2px;
  box-shadow: 0 1px 8px black;
  margin-left: 20px;
  text-align: center;
  margin-right: 20px;
  padding: 1px;
  padding-bottom: 10px;
  background-color: #222831;
  border-radius: 8px;
}
.cardImg {
  border-radius: 6px;
  width: 230px;
}
.movieDetail{
  font-size: 15px;
}
.title{
  margin-top: 10px;
}
